<ul class="heroes">
    {{#heroes}}
    <li>
      <h3 class="heroes__name">{{name}}</h3>
      <img src={{img}} alt={{name}} class="heroes__photo" />
      <p class="heroes__description">{{description}}</p>
    </li>
  {{/heroes}}
  </ul>